.media {
  border:1px solid $geyser;
  background:$white;
  width:100%;
  padding: $base-font-size/2;
  a {
    border: 0;
  }
  a:hover img, a:active img {
    opacity:.7;
    //transition: opacity 300ms ease-out;
  }
  img {
    width:100%;
    height:auto;
  }
  
}

.media__media {
  margin-bottom: 1em;
}
.media__body {
  .title {
    color: $brand-primary;
    margin-top: 0;
    margin-bottom: .15em;
  }
  p {
    font-size: 16px;
  }
}