.site-header {
	@include clearfix();

	background: $ghost-gray;

	padding-bottom: 2em;
	padding-top: 2em;

	padding-left: 0;
	padding-right: 0;

	border-bottom-width: ($base-spacing-unit/4);
	border-bottom-style: solid;
	border-bottom-color: $manatee;

	@media all and (max-width:760px){
		padding-bottom: 1em;
		padding-top: 1em;
	}

	@media all and (max-width: $max-page-width){
		padding-left: $grid-gutter;
		padding-right: $grid-gutter;
	}

}

.site-logo {
	float: left;
	width: 16.6666667%;
	margin-right: 16.6666667% + 33.333333% + $grid-gutter-half;

	@media all and (max-width:$max-page-width){
		width: 22%;
		margin-right: 11.3333333% + $grid-gutter-half + 33.333333%;
	}

	@media all and (max-width:760px){
		width: 25%;
		margin-right: 8.3333333% + $grid-gutter-half;
	}

	@media all and (max-width:600px){
		margin-bottom: 1em;
		margin-right: 0;
		width: 100%;
	}

}

.site-search {
	float: left;
	width: 33.3333333% - $grid-gutter-half;

	@media all and (max-width:760px){
		width: 66.6666667% - $grid-gutter-half;
	}

	@media all and (max-width: 600px){
		width: 100%;
	}
}