---
title: Media Block
id: media-block
---

<div class="row g">
  <div class="g-column g-one-third">
    <div class="media">
      <img src="{{ "/images/lgss-image-placeholder-3-2.png" | prepend: site.baseurl }}" alt="placeholder image 3 to 2 ratio" class="media__media">
      <div class="media__body">
        <h4 class="title">Let's Go Direct is now live</h4>
        <p>The Let's Go Direct self-service portal has launched for staff, it's now possible to <a href="#" target="_blank">complete a task online</a> 24/7.
        </p>
      </div>
    </div>
  </div>
  <div class="g-column g-one-third">
    <div class="media">
      <img src="{{ "/images/lgss-image-placeholder-3-2.png" | prepend: site.baseurl }}" alt="placeholder image 3 to 2 ratio" class="media__media">
      <div class="media__body">
        <h4 class="title">Let's Go Direct is now live</h4>
        <p>The Let's Go Direct self-service portal has launched for staff, it's now possible to <a href="#" target="_blank">complete a task online</a> 24/7.
        </p>
      </div>
    </div>
  </div>
  <div class="g-column g-one-third">
    <div class="media">
      <img src="{{ "/images/lgss-image-placeholder-3-2.png" | prepend: site.baseurl }}" alt="placeholder image 3 to 2 ratio" class="media__media">
      <div class="media__body">
        <h4 class="title">Let's Go Direct is now live</h4>
        <p>The Let's Go Direct self-service portal has launched for staff, it's now possible to <a href="#" target="_blank">complete a task online</a> 24/7.
        </p>
      </div>
    </div>
  </div>
</div>
