body {
  font-family: $font-family;
  font-size:100%;
  line-height: $base-line-height-ratio;
  font-weight: 300;
}

/* Headings */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $font-family-alt;
  font-weight:700;
  line-height: $base-line-height-ratio;
}

h1, .h1{
  padding:0;
  margin-top: $base-line-height;
  margin-bottom: $base-line-height;
  font-size: $h1-font-size;
}

h2, .h2 {
  padding:0;
  margin-bottom: $base-line-height;
  margin-top: $base-line-height;
  font-size:$h2-font-size;
}
h3, .h3{
  margin-bottom: $base-line-height;
  margin-top: $base-line-height;
  font-size:$h3-font-size;
}
h4, .h4{
  font-size:$h4-font-size;
}
h5, .h5{
  font-size:$h5-font-size;
}
h6, .h6{
  font-size:$h6-font-size;
}

/*paragraphs*/
p {
  font-size: $base-font-size;
  margin: 0 0 1em;
  line-height: $base-line-height-ratio;

  &.intro {
    font-size: $base-font-size * 1.15;
  }
}

blockquote {
  padding-left: 1em;

  border-left-color: $brand-secondary;
  border-left-style: solid;
  border-left-width: 3px;

  font-style: italic;
  color: $manatee;

  p {
    margin: 0 0 1em 0;
  }

}

dl {
  dd {
    font-style: italic;
  }
}

.callout {
  @extend blockquote;
  border-left-color: $highlight;

  p {
    @extend .small-text;
    color: $mine-shaft;
    font-size: normal;  
  }
  
}

.small-text {
  font-size: 80%;
}

.vcard {
  line-height: $base-line-height;
  border:0;
  margin:0;
  padding:0;
  .org {
    font-weight: bold;
  }
  .locality {
    display: block;
  }
}

label,
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea,
select,
button {
  font-size: 16px; // make sure ios doesn't do that weird zooming thing on forms
  font-family: $font-family;
}
